
*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
.header-top{
    background-color: red;
    height: 50px;
    
}
.container{
    max-width: 1170px;
    margin: auto;
}


nav{
    min-height: 100%;


}
ul{
    
    list-style: none;
    flex-direction: row;
    display: flex;
    justify-content: space-between;
    
    
}
li{
    border: dashed 2px;
    background-color: yellow;
}
.header-bottom{
    background-color: blue;
    display: flex;
    justify-content: center;
}
.jumbotron{
    background-color: aqua;
    height: 200px;
    width: 100%;
    display: flex;
    margin: 20px;
    border: dashed 2px;
    max-width: 800px;

}
.flex-container{
    display: flex;
    justify-content: center;
}
.flexcontent{
    
    border: dashed 2px;
    height: 200px;
    margin-top: 20px;
    margin-bottom: 20px;
    width: 100%;

}
.box-blu{
    background-color: blue;
    max-width: calc(100% / 1);
    height: 200px;
}
.box-rosa{
    background-color: pink;
    max-width: calc(100% / 3);
}
.flexcontent1{
    
    border: dashed 2px;
    height: 200px;
    margin-top: 20px;
    margin-bottom: 20px;
    width: 100%;
    background-color: gray;

}.box-blu1{
    background-color: blue;
    max-width: calc(100% / 4);
    height: 200px;
}
.box-rosa1{
    background-color: pink;
    max-width: calc(100% / 1);
}
